.why-section {
  background: #050505;
  padding: 4rem 0;
}

.why-grid {
  width: 80%;
  margin: auto;
  min-height: 90dvh;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 1rem;
  align-items: center;
}

/* COLUMNS */
.why-col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* CARD BASE */
.why-card {
  background: linear-gradient(180deg, #0b0b0b, var(--grey-color));
  border: 1px solid var(--secondary-color);
  border-radius: 26px;
  padding: 2.5rem;

  color: var(--primary-color);
  position: relative;
  box-shadow: inset 0 0 40px rgba(212, 175, 55, 0.05), 0 20px 60px rgba(0, 0, 0, 0.7);
}

.card-icon {
  /* width: 44px;
  height: 44px; */
  /* border: 1px solid #d4af37; */
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 1.2rem;
}

.why-card h3 {
  font-size: 1.2rem;
  letter-spacing: 0.12em;
}

.card-sub {
  margin-top: 1rem;
  letter-spacing: 0.35em;
  font-size: 0.75rem;
}

.card-sub span {
  color: #fff;
}

.card-desc {
  margin-top: 1.2rem;
  font-size: 0.85rem;
  line-height: 1.6;
  color: var(--secondary-color);
}

/* CENTER ORB */
.why-center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-orb-wrapper {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -47%);
  z-index: 999;
  border: 22px solid var(--dark-color);
  border-radius: 100%;
}

.wSpacing {
  letter-spacing: 0.4em;
}

.center-orb {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  position: relative;
  border: 2px solid var(--primary-color);
  /* box-shadow: 0 0 60px rgba(212, 175, 55, 0.35), inset 0 0 40px rgba(212, 175, 55, 0.25); */
  overflow: hidden;

  z-index: 999;
}

.center-orb svg {
  width: 50%;
  height: 50%;

  opacity: 1;
}

/* CENTER CTA */
.center-card {
  text-align: center;
  z-index: 2;
}

.orb-btn {
  margin-top: 1.8rem;
  background: transparent;
  border: 1px solid #d4af37;
  color: #d4af37;
  padding: 0.6rem 1.8rem;
  border-radius: 999px;
  letter-spacing: 0.35em;
  cursor: pointer;
}

/* STATS */
.stats-stack {
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 100%;
  gap: 1.2rem;
}

.stats-stack .stat {
  flex: 1 !important;

  padding: 1.2rem 1.8rem;
}

.stat span {
  display: block;
  font-size: 0.65rem;
  letter-spacing: 0.35em;
  margin-top: 0.3rem;
  color: #c9b37c;
}

.why-card {
  transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.why-card:hover {
  transform: translateY(-4px);
  box-shadow: inset 0 0 40px rgba(212, 175, 55, 0.08), 0 30px 80px rgba(0, 0, 0, 0.8);
}
