/* .world-map-wrapper {
  width: 100%;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.world-map-svg {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.world-fluid-inner {
  width: 50%;
  height: 50%;
  filter: saturate(0.5);
}

.world-fluid-inner svg,
.world-fluid-inner canvas {
  width: 100%;
  height: 100%;
} */

/* New codew */

.globe-shell {
  width: 70%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;

  /* push light to top-right */
  background: radial-gradient(circle at 85% 20%, #1c1c1c 0%, #000 60%);

  /* soften and bias the glow */
  box-shadow: 6px -6px 28px rgba(219, 164, 90, 0.18), inset 0 0 50px rgba(0, 0, 0, 0.85);
}

.globe-shell::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 50%;
  border: 1px solid rgba(219, 164, 90, 0.45);

  box-shadow: 4px -4px 12px rgba(219, 164, 90, 0.45), 0 0 26px rgba(219, 164, 90, 0.18);

  pointer-events: none;
}

.globe-mask {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  overflow: hidden;
}

/* This layer moves endlessly */
.globe-scroll-layer {
  display: flex;
  height: 100%;
  width: 200%;
}

/* Each map takes half the width */
.globe-map {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.globe-map svg {
  width: 200%;
  height: auto;
  transform: scale(1.2);
}

.world-fluid-inner {
  width: 100%;
  height: 100%;

  will-change: transform;
  transform: translateZ(0);
  filter: saturate(0.9) contrast(1.1);
}

.world-fluid-inner svg,
.world-fluid-inner canvas {
  width: 100%;
  height: 100%;
}

.global-logo {
  height: 15dvh;
  width: auto;
  filter: drop-shadow(0 0 10px rgba(219, 164, 90, 0.5));
}
