* {
  font-family: "Poppins", sans-serif;
}
html,
body,
#root {
  background: var(--dark-color);
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: "ProsaGT";
  src: url("../public/fonts/ProsaGT.otf") format("opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ProsaGT", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

.hFont {
  font-family: "ProsaGT", sans-serif !important;
}

.pFont {
  font-family: "Poppins", sans-serif !important;
}
