.overview-service-card {
  position: relative;
  background: #050505;
  border-radius: 24px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  color: var(--primary-color);
  height: 100%;
}

.overview-service-image-wrapper {
  position: relative;
  height: 280px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.overview-service-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 999;
}

.overview-service-hover-bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  opacity: 0.9;
}

.overview-service-content {
  position: relative;
  z-index: 2;
  padding: 24px;
}

.overview-service-content h3 {
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.overview-service-content p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-color);
}

.overview-service-tags {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.overview-service-tags span {
  border: 1px solid rgba(212, 168, 92, 0.5);
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 11px;
}

.overview-service-footer {
  margin-top: 28px;
  scale: 0.7;
  transform-origin: right bottom;
}
