.signup-section {
  background: #0e0f11;
  color: #fff;
}

.signup-title {
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.signup-title-eyebrow {
  letter-spacing: 1em;
  font-size: 1rem;
  color: var(--secondary-color);
  display: block;
}

.signup-title {
  font-size: 8.5vh;
  font-weight: 800;
  line-height: 0.95;
  filter: drop-shadow(0px 5px 10px #000000);
}

.signup-title span {
  color: transparent;
  -webkit-text-stroke: 2px var(--secondary-color);
}

.signup-sub {
  color: var(--secondary-color);
  max-width: 420px;
  line-height: 1.6;
}

.signup-form {
  max-width: 700px;
}

.signup-input {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--secondary-color) !important;
  border-radius: 0;
  color: var(--secondary-color) !important;
  padding: 12px 0;
}
.signup-input::placeholder {
  color: var(--secondary-color) !important;
}

.signup-input:focus {
  background: transparent !important;
  color: var(--primary-color) !important;
  box-shadow: none !important;
  border-bottom-color: var(--primary-color) !important;
}

.border-primary-color {
  border-right: 1px solid var(--primary-color) !important;
}

.signup-btn {
  background: #6f6f6f;
  border: none;
  padding: 12px 48px;
  border-radius: 0;
  margin-top: 10px;
}

.signup-btn:hover {
  background: #8a8a8a;
}

.signup-meta h6 {
  letter-spacing: 0.2em;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.signup-meta p {
  color: var(--primary-color);
  line-height: 1.6;
}

.signup-socials {
  display: flex;
  gap: 16px;
  font-size: 24px;
  margin-top: 30px;
  transition: all 0.5s ease-in-out;
  color: var(--secondary-color);
}

.signup-socials svg {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.signup-socials svg:hover {
  opacity: 1;
  color: var(--primary-color);
  scale: 1.2;
}

.signup-left {
  min-height: 100vh;
  position: relative;
  overflow: hidden; /* hard clip */
}

/* Fluid SVG fills the column */
.signup-fluid-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.signup-fluid-bg svg,
.signup-fluid-bg canvas {
  width: 50%;
  height: 100%;
}

/* Glass / blur layer */
.signup-glass {
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: rgba(32, 32, 32, 0);

  background: transparent;
}

/* Content sits above everything */
.signup-meta {
  z-index: 2;
  padding: 3rem 2rem;
}
